@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-animate {
    background-size: 400%;
    animation: shimmer 3s linear infinite;
  }

  .delay-150 {
    animation-delay: 150ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}